# Client Side
# See https:client/client/helpclient/githubclient/comclient/articlesclient/ignoring-filesclient/ for more about ignoring filesclient/

# dependencies
client/node_modules
client/pnp

# testing
client/coverage

# production
client/build

# misc
.DS_Store
client/yarn.lock
client/package-lock.json
